* {
    border: none;
    font-family: Noto Sans, Helvetica, Arial, sans-serif;
    margin: 2px 2px 0px 2px;
    font-size: 14px;
    opacity: 0.95;
}

window#waybar {
    background: #000000;
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
}

#workspaces button.focused {
    background: #64727D;
}

#workspaces, #window, #clock, #idle_inhibitor, #pulseaudio, #network, #cpu, #memory, #temperature, #battery, #backlight{
    padding: 3px;
    border-radius: 8px;
}

/* Style the module when empty */
window#waybar.empty #window {
  opacity: 0.0;           /* visual hint only */
}

#mode, #clock  {
    padding: 0 10px;
}

#battery {
    padding: 0 10px 0 0;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
