// Enable blur behind the alacritty terminal.
window-rule {
    match app-id="^Alacritty$"

    background-effect {
        blur true
        xray true
        noise 0.05
    }
}

window-rule {
    match app-id="^qs$"

    background-effect {
        blur true
        xray true
        noise 0.05
    }
}
